<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="./Bootstrap/css/bootstrap.min.css">
    <title>AllUsers</title>
    <style>
        /* Вставляем измененный CSS код сюда */
        body {
            display: flex;
            flex-direction: column;
            background-color: #f8f9fa; /* Серый фон для всего тела */
        }
        .top-bar {
            background-color: #343a40;
            color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: fixed;
            z-index: auto;
        }
        .sidebar {
            width: 250px;
            min-height: 100vh;
            background-color: white;
            color: white;
            position: absolute;
            left: 0;
            top: 70px; /* высота top-bar */
            padding-top: 20px;
        }
        .sidebar a {
            color: blue;
            text-decoration: none;
            display: block;
            text-align: center;
        }
        .main-content {
            margin-left: 250px;
            padding: 20px;
            width: calc(100% - 250px);
            margin-top: 80px; /* высота top-bar + отступ */
            min-height: calc(100vh - 80px);
        }
        .nav-tabs {
            margin-top: 20px;
        }
        .info-item {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
        .info-item input{
            width: 100%;
        }
        .roles-container{

        }
    </style>
</head>
<body>
<div class="top-bar">
    <div sec:authentication="principal.email" style="margin-right: 10px;"></div>
    with roles:
    <div sec:authentication="principal.authorities" style="margin-left: 10px;"></div>
    <div style="margin-left: auto;">
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<div class="sidebar d-flex flex-column p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Admin
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                User
            </a>
        </li>

    </ul>
</div>

<div class="main-content">
    <h2>Admin panel</h2>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All Users</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" >
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <h4 style="font-weight: bold">All users</h4>
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.roles}"></td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#editModal-' + ${user.id}">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#deleteModal-' + ${user.id}">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <h5>New User</h5>
            <div class="container-fluid">
                <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
                    <div class="info-item">
                        <strong>First Name</strong>
                        <input type="text" class="form-control" th:field="*{username}" required />
                    </div>
                    <div class="info-item">
                        <strong>Last Name</strong>
                        <input type="text" class="form-control" th:field="*{lastname}" required />
                    </div>
                    <div class="info-item">
                        <strong>Age</strong>
                        <input type="number" class="form-control" th:field="*{age}" required />
                    </div>
                    <div class="info-item">
                        <strong>Email</strong>
                        <input type="email" class="form-control" th:field="*{email}" required />
                    </div>
                    <div class="info-item">
                        <strong>Password</strong>
                        <input type="password" class="form-control" th:field="*{password}" required />
                    </div>
                    <div class="info-item">
                        <strong>Role</strong>
                        <div class="roles-container" style="max-height: 100px; overflow-y: auto;">
                            <ul style="margin: 0; padding: 0; list-style: none;">
                                <li th:each="role : ${allRoles}" style="text-align: left;">
                                    <label style="display: block;">
                                        <input type="checkbox" name="roles" th:value="${role}" style="vertical-align: middle; margin-right: 5px;" />
                                        <span th:text="${role}"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create User</button>
                    </div>
                </form>
=        </div>
    </div>
    </div>
</div>

<!-- Модальные окна для удаления и редактирования пользователей -->
<!-- Модальное окно для удаления -->
<div th:each="user : ${users}" th:id="'deleteModal-' + ${user.id}" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="user-info">
                    <div class="info-item">
                        <strong>ID</strong>
                        <span th:text="${user.id}"></span>
                    </div>
                    <div class="info-item">
                        <strong>First Name</strong>
                        <span th:text="${user.username}"></span>
                    </div>
                    <div class="info-item">
                        <strong>Last Name</strong>
                        <span th:text="${user.lastname}"></span>
                    </div>
                    <div class="info-item">
                        <strong>Age</strong>
                        <span th:text="${user.age}"></span>
                    </div>
                    <div class="info-item">
                        <strong>Email</strong>
                        <span th:text="${user.email}"></span>
                    </div>
                    <div class="info-item">
                        <strong>Password</strong>
                        <span th:text="${user.password}"></span>
                    </div>
                    <div class="info-item">
                        <strong>Role</strong>
                        <div class="roles-container">
                                <span th:each="role : ${user.roles}" class="role-item">
                                    <span th:text="${role}"></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="POST" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для редактирования -->
<div th:each="user : ${users}" th:id="'editModal-' + ${user.id}" class="modal fade" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/{id}(id=${user.id})}" th:method="POST">
                    <input type="hidden" name="_method" value="PATCH" />
                    <div class="user-info">
                        <div class="info-item">
                            <strong>ID</strong>
                            <input type="text" class="form-control"  readonly th:value="${user.id}" />
                        </div>
                        <div class="info-item">
                            <strong>First Name</strong>
                            <input type="text" class="form-control" name="username" th:value="${user.username}"  />
                        </div>
                        <div class="info-item">
                            <strong>Last Name</strong>
                            <input type="text" class="form-control" name="lastname" th:value="${user.lastname}" />
                        </div>
                        <div class="info-item">
                            <strong>Age</strong>
                            <input type="number" class="form-control" name="age" th:value="${user.age}" />
                        </div>
                        <div class="info-item">
                            <strong>Email</strong>
                            <input type="email" class="form-control" name="email" th:value="${user.email}" />
                        </div>
                        <div class="info-item">
                            <strong>Password</strong>
                            <input type="password" class="form-control" name="password" th:value="${user.password}" />
                        </div>
                        <div>
                            <strong>Role</strong>
                            <div class="roles-container" style="max-height: 100px; overflow-y: auto; width: 100%;">
                                    <ul style="margin: 0; padding: 0;">
                                        <li th:each="role : ${user.roles}" style="list-style-type: none;">
                                            <label style="display: block;">
                                                <input name="roles" th:value="${role}"/>
                                            </label>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Подключение Bootstrap JavaScript -->
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
